.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('../static/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.masthead-page {
    padding: 0;
    position: relative;
    background-color: #ffb800;
    background-image: url(../static/overlay.svg),linear-gradient(45deg,#ffb800 0%,#e6a600 100%);
    background-size: cover;
    z-index: 0;
}